/* .app-container {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-start;
}
.header-container {

  justify-content: space-between;
} */
/* .header-container {

  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  display: block;
  justify-content: center;
} */
/* .body-container {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
} */
/* .main-container {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  background-color: #f5fafe;
} */
/* 
.footer-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: block;
  flex-direction: column;
} */

/* .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  letter-spacing: 6px;
} */

.contentLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.titleLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.typewriter h1 {
  color: black;
  font-family: monospace;
  font-size: 2em;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* use locally download font in this project */
@font-face {
  font-family: "Dream Orphans";
  src: url("/fonts/Dream Orphans.otf");
}

/* news page loading */

h2 {
  color: #901a3d;
  margin: 0;
  font: 0.8em verdana;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.loading span {
  display: inline-block;
  vertical-align: middle;
  width: 0.6em;
  height: 0.6em;
  margin: 0.19em;
  background: #007db6;
  border-radius: 0.6em;
  animation: loading 1s infinite alternate;
}

.loading span:nth-of-type(2) {
  background: #008fb2;
  animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
  background: #009b9e;
  animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
  background: #00a77d;
  animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
  background: #00b247;
  animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
  background: #5ab027;
  animation-delay: 1s;
}
.loading span:nth-of-type(7) {
  background: #a0b61e;
  animation-delay: 1.2s;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* loader css */

.blink {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}
